form {
  margin-top: 1rem;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header > h2 {
  text-align: center;
  margin: auto 0;
}

nz-content {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
}

.button-group {
  gap: 0.5rem;
}
