<nz-content>
  <div class="task-header">
    <h2 style="color: black">New Task</h2>

    <button
      class="border-radius icon-button margin-right"
      nzType="default"
      nz-button
      (click)="close()"
    >
      <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
  </div>

  <form nz-form [formGroup]="form" class="login-form">
    <nz-form-item>
      <nz-form-control
        class="margin-right"
        nzErrorTip="Título é obrigatório e deve conter até 40 caracteres"
      >
        <nz-input-group nzPrefixIcon="thunderbolt">
          <input
            type="text"
            nz-input
            nzBorderless
            formControlName="title"
            placeholder="Tarefa"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Max 210 caracteres" class="margin-right">
        <nz-input-group>
          <textarea
            rows="4"
            nz-input
            formControlName="content"
            placeholder="Descrição"
          ></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div class="space-between">
      <div class="button-group">
        <button
          nz-button
          class="border-radius"
          nzType="default"
          (click)="submit()"
        >
          Salvar
        </button>

        <nz-divider *ngIf="task" nzType="vertical"></nz-divider>

        <button
          *ngIf="task"
          class="border-radius"
          [nzType]="task.done ? 'primary' : 'default'"
          nz-button
          (click)="doneTask(task)"
        >
          <span *ngIf="!task.done">Completar</span>
          <span
            nz-icon
            [nzType]="task.done ? 'check' : 'border'"
            nzTheme="outline"
          ></span>
        </button>
      </div>

      <button
        *ngIf="task"
        nz-button
        class="border-radius margin-right"
        nzType="default"
        (click)="submit()"
      >
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
    </div>
  </form>
</nz-content>
