nz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
}

nz-header > h1 {
  color: white;
  margin: auto 0;
}

.header-options {
  display: flex;
}
