<nz-header>
  <a href="https://github.com/Bagestan/StandardToDoList">
    <button
      class="border-radius icon-button margin-right button-color"
      nz-button
      nzType="default"
      nzShape="round"
    >
      <span nz-icon nzType="github" nzTheme="outline"></span>
    </button>
  </a>
  <h1>Standard To Do List</h1>

  <div class="header-options">
    <button
      class="border-radius icon-button margin-right button-color"
      nz-button
      nz-dropdown
      [nzDropdownMenu]="menu2"
      nzPlacement="bottomRight"
    >
      <span nz-icon nzType="user"></span>
    </button>
  </div>
</nz-header>

<nz-dropdown-menu #menu2="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="logout()" nzDanger>Deslogar</li>
  </ul>
</nz-dropdown-menu>
