<div class="wrapper">
  <nz-card class="wrapper__form">
    <h4 nz-typography>Recuperação se senha</h4>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Preencha seu email">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="Seu email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button class="reset-button" nzBlock nz-button nzType="primary">
        Recuperar senha
      </button>
      Ou
      <a routerLink="/auth/signin">retornar ao login</a>
    </form>
  </nz-card>
</div>
