/* You can add global styles to this file, and also import other style files */

.w-100 {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh);
  width: calc(100vw);
}

.wrapper__form {
  width: 100%;
  max-width: 25rem;
  margin: 0 0.5rem;
}

.border-radius {
  border-radius: 0.6rem;
}
